body {
    padding: 4.5rem 15rem;
    background-color: var(--cor-bg-1);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 2100px) {
    body{
        padding: 6rem 20rem;
    }    
}

@media screen and (max-width: 1500px) {
    body{
        padding: 3rem 5rem;
    }    
}

@media screen and (max-width: 800px) {
    body{
        padding: 2rem 0 2rem 4.5rem;
        width: 100vw;
        flex-direction: row;
    }    
}
@media screen and (max-width: 580px) {
    body{
        padding: 2rem 0 2rem 3rem;
    }    
}