@font-face {
    font-family: 'Rodchenko';
    src: url('/assets/fonts/woff/Rodchenko-Constructed-ML.woff') format('woff'),
    url('/assets/fonts/woff/Rodchenko-Constructed-ML.woff2') format('woff2'),
    url('/assets/fonts/svg/Rodchenko-Constructed-ML.svg') format('svg'),
    url('/assets/fonts/otf/Rodchenko-Constructed-ML.otf') format('otf'),
	url('/assets/fonts/eot/Rodchenko-Constructed-ML.eot') format('eot');
}
@font-face {
    font-family: 'MuseoSans';
    src: url('/assets/fonts/woff/MuseoSans100.woff') format('woff'),
    url('/assets/fonts/woff/MuseoSans100.woff2') format('woff2'),
    url('/assets/fonts/svg/MuseoSans100.svg') format('svg'),
    url('/assets/fonts/otf/MuseoSans100.otf') format('otf'),
	url('/assets/fonts/eot/MuseoSans100.eot') format('eot');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans';
    src: url('/assets/fonts/woff/MuseoSans100_Italic.woff') format('woff'),
    url('/assets/fonts/woff/MuseoSans100_Italic.woff2') format('woff2'),
    url('/assets/fonts/svg/MuseoSans100_Italic.svg') format('svg'),
    url('/assets/fonts/otf/MuseoSans100_Italic.otf') format('otf'),
	url('/assets/fonts/eot/MuseoSans100_Italic.eot') format('eot');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'MuseoSans';
    src: url('/assets/fonts/woff/MuseoSans300.woff') format('woff'),
    url('/assets/fonts/woff/MuseoSans300.woff') format('woff2'),
    url('/assets/fonts/svg/MuseoSans300.svg') format('svg'),
    url('/assets/fonts/otf/MuseoSans300.otf') format('otf'),
	url('/assets/fonts/eot/MuseoSans300.eot') format('eot');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans';
    src: url('/assets/fonts/woff/MuseoSans300_Italic.woff') format('woff'),
    url('/assets/fonts/woff/MuseoSans300_Italic.woff2') format('woff2'),
    url('/assets/fonts/svg/MuseoSans300_Italic.svg') format('svg'),
    url('/assets/fonts/otf/MuseoSans300_Italic.otf') format('otf'),
	url('/assets/fonts/eot/MuseoSans300_Italic.eot') format('eot');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'MuseoSans';
    src: url('/assets/fonts/woff/MuseoSans500.woff') format('woff'),
    url('/assets/fonts/woff/MuseoSans500.woff') format('woff2'),
    url('/assets/fonts/svg/MuseoSans500.svg') format('svg'),
    url('/assets/fonts/otf/MuseoSans500.otf') format('otf'),
	url('/assets/fonts/eot/MuseoSans500.eot') format('eot');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans';
    src: url('/assets/fonts/woff/MuseoSans500_Italic.woff') format('woff'),
    url('/assets/fonts/woff/MuseoSans500_Italic.woff2') format('woff2'),
    url('/assets/fonts/svg/MuseoSans500_Italic.svg') format('svg'),
    url('/assets/fonts/otf/MuseoSans500_Italic.otf') format('otf'),
	url('/assets/fonts/eot/MuseoSans500_Italic.eot') format('eot');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'MuseoSans';
    src: url('/assets/fonts/woff/MuseoSans700.woff') format('woff'),
    url('/assets/fonts/woff/MuseoSans700.woff') format('woff2'),
    url('/assets/fonts/svg/MuseoSans700.svg') format('svg'),
    url('/assets/fonts/otf/MuseoSans700.otf') format('otf'),
	url('/assets/fonts/eot/MuseoSans700.eot') format('eot');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans';
    src: url('/assets/fonts/woff/MuseoSans700_Italic.woff') format('woff'),
    url('/assets/fonts/woff/MuseoSans700_Italic.woff2') format('woff2'),
    url('/assets/fonts/svg/MuseoSans700_Italic.svg') format('svg'),
    url('/assets/fonts/otf/MuseoSans700_Italic.otf') format('otf'),
	url('/assets/fonts/eot/MuseoSans700_Italic.eot') format('eot');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'MuseoSans';
    src: url('/assets/fonts/woff/MuseoSans900.woff') format('woff'),
    url('/assets/fonts/woff/MuseoSans900.woff') format('woff2'),
    url('/assets/fonts/svg/MuseoSans900.svg') format('svg'),
    url('/assets/fonts/otf/MuseoSans900.otf') format('otf'),
	url('/assets/fonts/eot/MuseoSans900.eot') format('eot');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans';
    src: url('/assets/fonts/woff/MuseoSans900_Italic.woff') format('woff'),
    url('/assets/fonts/woff/MuseoSans900_Italic.woff2') format('woff2'),
    url('/assets/fonts/svg/MuseoSans900_Italic.svg') format('svg'),
    url('/assets/fonts/otf/MuseoSans900_Italic.otf') format('otf'),
	url('/assets/fonts/eot/MuseoSans900_Italic.eot') format('eot');
    font-weight: 900;
    font-style: italic;
}
