main {
    display: flex;
    flex: 1;
    /* overflow-y: auto; */
}
@media screen and (max-width: 800px) {
    main {
        flex-direction: column;
        height: calc(100vh - 2rem);
        padding-bottom: 2rem;
    }    
}